<!------------------------------------------------------- Navbar Section ---------------------------------------->
<section id="nav-bar">
  <nav class="navbar navbar-expand-lg navbar-light">
     <a class="navbar-brand" href="#"><img src="assets/Images/logocrypto.png" alt=""></a>
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
       <i class="fa fa-bars"></i>
     </button>
     <div class="collapse navbar-collapse animated fadeInDown" id="navbarNav">
       <ul class="navbar-nav">
         <li class="nav-item">
           <a class="nav-link" href="#banner">HOME</a>
         </li>
         <li class="nav-item">
           <a class="nav-link" href="#services">BROWSE<i class="fa fa-caret-down"></i></a>
         </li>
         <li class="nav-item">
           <a class="nav-link" href="#about-us">ABOUT US<i class="fa fa-caret-right"></i></a>
         </li>
         <li class="nav-item">
           <a class="nav-link " href="#Testimonials">HELP</a>
         </li>
         <li class="nav-item">
           <a class="nav-link " href="#footer-sec">CONTACT US</a>
         </li>
       </ul>
       <div class="ml-auto">
        <form class="form-inline">
          <button class="btn btn-outline-success headBut my-2 my-sm-0 mr-3" type="submit">Login</button>
          <button class="btn btn-outline-success headBut my-2 my-sm-0 mr-5" type="submit">Sign Up</button>
        </form>
       </div>
     </div>
   </nav>
 </section>




 <!--------------------------------------------------------- Banner section ------------------------------------------>

<section id="banner">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <p class="promo-title animated fadeInDown">BEST DIGITAL AGENCY</p>
        <p class="sideline animated fadeInDown">Subscribe easy tutorials youtube channel to watch more videos on website development
          digital marketing,Wordpress and graphics designing 
        </p>
        <button  type="button" class="btn btn-primary animated fadeInDown">White Paper</button>
        <button  type="button" class="btn btn-dark animated fadeInDown">White Paper</button>
      </div>
      <div class="col-md-6 text-center">
        <img src="assets/Images/landing1.png" class="img-fluid landImg pulse ">
      </div>
    </div>
  </div>
  <img src="assets/Images/wave.png" class="bottom-img">
  </section>

  <!--------------------------------------------------------- Services section ------------------------------------------>

<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <p class="promo-title mb-5" data-aos="zoom-in">WHY YOU USING CRYPTO?</p>
        <p data-aos="zoom-in-right">Subscribe easy tutorials youtube channel to watch more videos on website development
          digital marketing,Wordpress and graphics designing 
        </p>
        <a href="#"><img src="assets/Images/video.png" class="play-btn">Watch Tutorials</a>
      </div>
      <div class="col-md-6 text-center">
        <img src="assets/Images/landing3.png" class="img-fluid" data-aos="zoom-in">
      </div>
    </div>
  </div>
</section>

<!--------------------------------------------------------- Banner section ------------------------------------------>

<section id="about-us">
  <div class="container">
    <div class="row">
      <div class="col-md-6 about-us">
        <img src="assets/Images/landing4.png" class="img-fluid bounce">
      </div>
      <div class="col-md-6" data-aos="zoom-in">
        <p class="promo-title mb-2">WHY YOU USING CRYPTO?</p>
        <p >Subscribe easy tutorials youtube channel to watch more videos on website development
          digital marketing,Wordpress and graphics designing 
        </p>
        <p>Subscribe easy tutorials youtube channel to watch more videos on website development
          digital marketing,Wordpress and graphics designing 
        </p>
        <p>Subscribe easy tutorials youtube channel to watch more videos on website development
          digital marketing,Wordpress and graphics designing 
        </p>
      </div>
    </div>
  </div>
</section>

<!--------------------------------------------------------- Banner section ------------------------------------------>

<section id="mobile">
  <div class="container">
    <div class="row">
      <div class="col-md-6 content" data-aos="zoom-in">
        <p class="promo-title">BEST DIGITAL AGENCY</p>
        <p>Subscribe easy tutorials youtube channel to watch more videos on website development
          digital marketing,Wordpress and graphics designing 
        </p>
        <p>Subscribe easy tutorials youtube channel to watch more videos on website development
          digital marketing,Wordpress and graphics designing 
        </p>
        <p>Subscribe easy tutorials youtube channel to watch more videos on website development
          digital marketing,Wordpress and graphics designing 
        </p>
        <p>Subscribe easy tutorials youtube channel to watch more videos on website development
          digital marketing,Wordpress and graphics designing 
        </p>
        <div data-aos="zoom-out-up">
        <button  type="button" class="btn btn-primary btnback"><i class="fa fa-apple" aria-hidden="true"></i> APP STORE</button>
        <button  type="button" class="btn btn-primary btnback"><i class="fa fa-play" aria-hidden="true"></i> PLAY STORE</button>
      </div>
      </div>
      <div class="col-md-6 text-center">
        <img src="assets/Images/phone.png" class="img-fluid landImg" data-aos="zoom-in">
      </div>
    </div>
  </div>
  </section>


  <section id="core-team">
    <div class="container text-center">
      <h2>Meet Our Core Team</h2>
      <div class="row text-center">
        <div class="col-md-3 services">
          <img src="assets/Images/img1.jpg" class="service-img">
          <h4 class="teamName">MANJUNATH R</h4>
          <p>Founder & CTO</p>
          <p>Senior Developer</p>
        </div>
        <div class="col-md-3 services">
          <img src="assets/Images/img2.jpg" class="service-img">
          <h4 class="teamName">MANJUNATH R</h4>
          <p>Founder & CTO</p>
          <p>Senior Developer</p>
        </div>
        <div class="col-md-3 services">
          <img src="assets/Images/img3.jpg" class="service-img">
          <h4 class="teamName" >MANJUNATH R</h4>
          <p>Founder & CTO</p>
          <p>Senior Developer</p>
        </div>
        <div class="col-md-3 services">
          <img src="assets/Images/img1.jpg" class="service-img">
          <h4 class="teamName">MANJUNATH R</h4>
          <p>Founder & CTO</p>
          <p>Senior Developer</p>
        </div>
      </div>
    </div>
  </section>


  <!--Testimonials -->
  <section id="WhatOurTeam">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2>What <b>our customers</b> are saying</h2>
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
          <!-- Carousel indicators -->
          <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
          </ol>   
          <!-- Wrapper for carousel items -->
          <div class="carousel-inner">
            <div class="item carousel-item active">
              <div class="row">
                <div class="col-sm-6">
                  <div class="media">
                    <div class="media-left d-flex mr-3">
                      <a href="#">
                        <img src="assets/Images/img1.jpg" alt="">
                      </a>
                    </div>
                    <div class="media-body">
                      <div class="testimonial">
                        <p>Lorem ipsum dolor sit amet, consec adipiscing elit. Nam eusem scelerisque tempor, varius quam luctus dui. Mauris magna metus nec.</p>
                        <p class="overview"><b>Paula Wilson</b>, Media Analyst</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="media">
                    <div class="media-left d-flex mr-3">
                      <a href="#">
                        <img src="assets/Images/img2.jpg" alt="">
                      </a>
                    </div>
                    <div class="media-body">
                      <div class="testimonial">
                        <p>Vestibulum quis quam ut magna consequat faucibus. Pellentesque eget mi suscipit tincidunt. Utmtc tempus dictum. Pellentesque virra.</p>
                        <p class="overview"><b>Antonio Moreno</b>, Web Developer</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>			
            </div>
            <div class="item carousel-item">
              <div class="row">
                <div class="col-sm-6">
                  <div class="media">
                    <div class="media-left d-flex mr-3">
                      <a href="#">
                        <img src="assets/Images/img1.jpg" alt="">
                      </a>
                    </div>
                    <div class="media-body">
                      <div class="testimonial">
                        <p>Lorem ipsum dolor sit amet, consec adipiscing elit. Nam eusem scelerisque tempor, varius quam luctus dui. Mauris magna metus nec.</p>
                        <p class="overview"><b>Martin Sommer</b>, UX Analyst</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="media">
                    <div class="media-left d-flex mr-3">
                      <a href="#">
                        <img src="assets/Images/img2.jpg" alt="">
                      </a>
                    </div>
                    <div class="media-body">
                      <div class="testimonial">
                        <p>Vestibulum quis quam ut magna consequat faucibus. Pellentesque eget mi suscipit tincidunt. Utmtc tempus dictum. Pellentesque virra.</p>
                        <p class="overview"><b>John Williams</b>, Web Developer</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>			
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
  
  <!---------------------------------------------- Testimonilas -------------------------------------------------------->

  <section id="testimonial">
  
    <h1>Our Road Map</h1>
    <div class="timeline">
      <ul>
        <li data-aos="zoom-in">
          <div class="content">
            <h3>What is Lorem Ipsum?</h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
          </div>
          <div class="time">
            <h4>January 2018</h4>
          </div>
        </li>
        
        <li data-aos="zoom-in">
          <div class="content">
            <h3>What is Lorem Ipsum?</h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
          </div>
          <div class="time">
            <h4>February 2018</h4>
          </div>
        </li>
        
        <li data-aos="zoom-in">
          <div class="content">
            <h3>What is Lorem Ipsum?</h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
          </div>
          <div class="time">
            <h4>March 2018</h4>
          </div>
        </li>
        
        <li data-aos="zoom-in">
          <div class="content">
            <h3>What is Lorem Ipsum?</h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
          </div>
          <div class="time">
            <h4>April 2018</h4>
          </div>
        </li>
        
        <li data-aos="zoom-in">
          <div class="content">
            <h3>What is Lorem Ipsum?</h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
          </div>
          <div class="time">
            <h4>May 2018</h4>
          </div>
        </li>
        
        <li data-aos="zoom-ins">
          <div class="content">
            <h3>What is Lorem Ipsum?</h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
          </div>
          <div class="time">
            <h4>June 2018</h4>
          </div>
        </li>
        <div style="clear:both;"></div>
      </ul>
    </div>

  </section>

  <!--------------------------------------------------------- Social media ------------------------------------------>

  <section id="FooterAbove">
    <div class="container">
      <div class="row">
        <div class="col-md-6 text-center">
          <p class="FooterAbove">Get Started with Crypto coin Today</p>
          <p> Now To Crypto? Crypto is the easiest To get Started?
          </p>
        </div>
        <div class="col-md-6 text-center">
          <button  type="button" class="btn started">Let's Get Started</button>
        </div>
      </div>
    </div>
    </section>

<!--------------------------------------------------------- Footer ------------------------------------------>
<section id="footer-sec">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-3 footer-box">
        <p class="footer-title">CRYPTO</p>
        <p><b>Company & Team</b></p>
        <p class="company">World Trade Center, Bangalore</p>
        <p class="company">World Trade Center, Bangalore</p>
        <p class="company">World Trade Center, Bangalore</p>
        <p class="company">World Trade Center, Bangalore</p>
        <p class="company">World Trade Center, Bangalore</p>
        <p class="company">World Trade Center, Bangalore</p>
        <p class="company">World Trade Center, Bangalore</p>
        <p class="company">World Trade Center, Bangalore</p>
        <p class="company">World Trade Center, Bangalore</p>
      </div>
      <div class="col-md-3 footer-box">
        <p class="fot-con"><b>About</b></p>
        <p class="company">World Trade Center, Bangalore</p>
        <p class="company">World Trade Center, Bangalore</p>
        <p class="company">World Trade Center, Bangalore</p>
        <p class="company">World Trade Center, Bangalore</p>
        <p class="company">World Trade Center, Bangalore</p>
        <p class="company">World Trade Center, Bangalore</p>
        <p class="company">World Trade Center, Bangalore</p>
        <p class="company">World Trade Center, Bangalore</p>
        <p class="company">World Trade Center, Bangalore</p>
      </div>
      <div class="col-md-3 footer-box">
        <p class="fot-con"><b>How To Work</b></p>
        <p class="company">World Trade Center, Bangalore</p>
        <p class="company">World Trade Center, Bangalore</p>
        <p class="company">World Trade Center, Bangalore</p>
        <p class="company">World Trade Center, Bangalore</p>
        <p class="company">World Trade Center, Bangalore</p>
        <p class="company">World Trade Center, Bangalore</p>
        <p class="company">World Trade Center, Bangalore</p>
        <p class="company">World Trade Center, Bangalore</p>
        <p class="company">World Trade Center, Bangalore</p>
      </div>
      <div class="col-md-3 footer-box">
        <p class="fot-con"><b>Guide</b></p>
        <p class="company">World Trade Center, Bangalore</p>
        <p class="company">World Trade Center, Bangalore</p>
        <p class="company">World Trade Center, Bangalore</p>
        <p class="company">World Trade Center, Bangalore</p>
        <p class="company">World Trade Center, Bangalore</p>
        <p class="company">World Trade Center, Bangalore</p>
        <p class="company">World Trade Center, Bangalore</p>
        <p class="company">World Trade Center, Bangalore</p>
        <p class="company">World Trade Center, Bangalore</p>
      </div>
    </div>
  </div>
</section>

<section id="end">
  <div class="d-flex justify-content-around">
    <div class="d-flex flex-row bd-highlight">
      <div class="p-2 mb-2 bd-highlight"><a href="#">Terms Of Use</a></div>
      <div class="p-2 mb-2 bd-highlight"><a href="#">Cookie Policy</a></div>
      <div class="p-2 mb-2 bd-highlight"><a href="#">AML/KYC</a></div>
    </div>
    <div class="p-2 mb-2">Crypto-2020 ALL RIGHTS RESERVED</div>
  </div>
</section>



<!-- Roadmap -->

